@charset "utf-8";
.address_item{
	width:100%;
	position:relative;
	margin-bottom: 10px;
}
.address_label{
	display:inline-block;
	width:80px;
	text-align: right;
	
}
.address_item select{
	height:50px;
	width:200px;
	font-size:20px;
	margin-left: 25px;
}
.address_item input{
	height:50px;
	width:200px;
	font-size:20px;
	margin-left: 25px;
}

.address_head{
	font-size: large;	
}

.address{ 
	top:1px;
	position:relative;
	width:100%;
}
.address_submit{
	width:95%;
	position:relative;
	background:blue;
	height:50px;
	color:red;
	border-radius:10px;
	font-size:20px;
	line-height:50px;
	text-align: center;
	margin: 0px auto;
	
}

.Address_list{
    width:100%;
    max-width:360px; 
    margin:auto;
    padding:0; 
}
.Address_list>ul{
	top:10px;
	position:relative;
}

.Address_list>ul>li{
	background-color:white;
	border-bottom: 1px solid #c0c0c0;
	position:relative;
	height:100px;
	display: inline-block;
	width:100%;
	
}

.Address_list_botton{
	position:relative;
	display:inline-block;
	top:-10px;
	left:10px;
	width:5%;
	
}

.address_mark_default{
	display:inline-block;
	float:left;
	left:-50px;
	position: relative;
	top:25px;
	
	background-color:inline-black;
}

.address_mark_type{
	display:inline-block;
	position:relative;	
	border: 1px solid #ff0000;
	border-radius:14px;
	width:35px;
	text-align:center;
	height:16px; 
	font-size:1px;
	letter-spacing : 1px;
	top:30px;
	right:60px;
	float:right;
}

.address_mark{
	display:inline-block;
	position:relative;
	float: right;
    left:0px;
	padding-top:-50px;
	width:30%;
	
	color:red;
	height:50px;
}
.Address_edit{
	display:inline-block;
	position:relative;
	top:30px;
	float:right;
	font-size: 30px;
	color:red;
	right:-20px;
	float:right;
}


.Address_list_information{
	position:relative;
	display:inline-block;
	left:20px;
	top:20px;
	max-width: 250px;
	width:60%
}

