@charset "utf-8";
.address_item{
	width:100%;
	position:relative;
	margin-bottom: 10px;
}
.address_label{
	display:inline-block;
	width:80px;
	
}
.address_item select{
	height:50px;
	width:200px;
	font-size:20px;
}
.address_item input{
	height:50px;
	width:200px;
	font-size:20px;
}

.address_head{
	font-size: large;	
}

.address{ 
	top:10px;
	position:relative;
	left:25px;
	width:100%;
}
.address_submit{
	width:80%;
	position:relative;
	background:blue;
	height:50px;
	color:red;
	border-radius:10px;
	font-size:20px;
	line-height:50px;
	text-align: center;
	
}
.Address{ 
	top:10px;
	position:relative;
	background:red;
	max-width:390px; 
	margin:0 auto; 
    padding:0; 
    text-align:center;
		
}
.Address_list{
    background:green;
    width:100%;
    max-width:390px; 
}
.Address_list>ul{
	top:10px;
	position:relative;
	max-width:390px; 
}

.Address_list>ul>li{
	background-color:white;
	border-bottom: 2px solid black;
	height:120px;
	max-width:390px; 
	
}

.Address_list_botton{
	 background:black;
	position:relative;
	display:inline-block;
	top:-10px;
	left:10px;
	
}

.address_mark_default{
	display:inline-block;	
	padding-right:30px;
	 background:gray;
}

.address_mark_type{
	display:inline-block;
	position:relative;	
	border: 1px solid #ff0000;
	border-radius:14px;
    padding:0px 3px 6px 4px;
	width:35px;
	height:16px; 
	font-size:1px;
	 background:#00ff80
}

.address_mark{
	display:block;
	position:relative;
	float: right;
    left:-20%;
	top:20px;
	color:red;
	max-width:390px; 
}
.Address_edit{
	display:inline-block;
	position:relative;
	float: right;
	top:40px;
	background:#ff00ff;
}


.Address_list_information{
	position:relative;
	display:inline-block;
	left:20px;
	top:20px;
	background:#00ffff;
}
.Address_add{
	width:390px; 
	height:75px;
	padding:10px;
	color:red;
}
.address_add_button{
	width:80%;
	height:43px; 
	background-color:#ff0000;
	font-size:14px;
	position:relative;
	bottom:-200px;
    font-weight: bold;
    font-size:large;
    color:white;
    text-align: center;      
}

