
.coupon{ 
	top:1px;
	position:relative;
	width:100%;
	height:580px;
    max-width:360px; 
    margin:auto;
    padding:0; 
    background-color:#ffffff;
  
}
.coupon_title{
	width:100%;
	height:30px;
    margin:auto;
    padding:0;
	text-align:center;
	font-size:24px;
	 background-color:#e7e7e7;
    
}
.coupon_title>ul{
	top:10px;
	
}
.coupon_title>ul>li{
	float:left;
	padding-left:60px;
	position:relative;
	display:block;
}
.coupon_rule{
	width:100%;
	height:25px;
	border-bottom: 1px solid #c0c0c0;
	float:left;
	text-align:right;
	vertical-align:middle;
    position:relative;
    
}
.coupon_rule>a{
	color :blue;
}

.coupon_list{
	width:100%;
	height:130px;
	border-bottom: 1px solid #c0c0c0;
	position:relative;
	float:left;
	display:block;
	
}
.coupon_list_goods{
	width:35%;
	position:relative;
	float:left;
	text-align:center;
	font-size: xx-large;
	top:34px
}
.coupon_list_limit{
	width:65%;
	position:relative;
	float:left;
	top:30px;
	text-align:center
	line-height : 300%;
}
.coupon_footer{
	width:100%;
}
.coupon_footer>ul>li{
	float:left;
	display:inline-block;
	position:relative;
	padding-right:10px;
}
.coupon_footer_check>a{
	color :blue;
}
