.coupon {
	top: 1px;
	position: relative;
	width: 100%;
	height: 580px;
	max-width: 360px;
	margin: auto;
	padding: 0;
	background-color: #ffffff;
}

.coupon_title {
	width: 100%;
	height: 40px;
	margin: auto;
	padding: 0;
	text-align: center;
	font-size: 24px;
	background-color: #e7e7e7;
}

.coupon_title>ul {
	top: 10px;
}

.coupon_title>ul>li {
	float: left;
	padding-left: 60px;
	position: relative;
	display: block;
}
.coupon_list {
	width: 100%;
	position: relative;
	float: left;
	display: block;
}

.coupon_list>ul>li{
	border-bottom: 1px solid #c0c0c0;
	display:block;
	margin-top:10px;
	height:100px;
}

.coupon_list_goods {
	width: 25%;
	position: relative;
	float: left;
	text-align: center;
	font-size: xx-large;
	top: 20px
}

.coupon_list_limit {
	width: 75%;
	position: relative;
	float: left;
	top: 10px;
	text-align: center line-height: 300%;
}


