#lottery{width:100%;}
#lottery table td{width:20%;height:20%;text-align:center;vertical-align:middle;color:#333;font-index:-999}
#lottery table td a{width:20%;height:20%;display:block;text-decoration:none;}
#lottery table td img{width:100%;height:60%;display:block;text-decoration:none;}
#lottery table td.active{background-color:#ea0000;}


table {

	background-size:100% 100%;
	background-position: -10px -10px;
	width:100%;
}

.start{
	width:130px;
	height:130px;
	margin:0 auto;
	text-align:center;
	background-color:RGBA(104,55,19,1);
	color:red;
	border-radius:200px;
	font-size:25px;
	padding-top:30px;
}


.game_receive_good{
	background: url("/img/bg2.jpg");
	width:100%;
	height:700px;
	text-align:center;
	margin-bottom: 0px;
}

.game_receive_good img{
	text-align:center;
	padding-top:50px;
	width:200px;
	height:200px;
}

.game_info{
	background:white;
	width:80%;
	height:150px;
	top:30px;
	margin:0 auto;
	position:relative;
	border:25px solid RGBA(49,169,69,.1);
	border-radius:30px;
	padding-top:10px;
}

.game_info_type{
	color:red;
	font-size:20px;
	font-weight: bold;;
}

.game_info_name{
	color:black;
	font-size:15px;
	font-weight: bold;;
}

.game_info_validity{
	
}

.game_receive_btn{
	color:white;
	height:50px;
	width:200px;
	background:RGBA(51,133,255,1);
	margin:0 auto;
	top:100px;
	line-height:3.5;
	position:relative;
	border-radius:7px;
	font-size:15px;
	font-weight:bold;
}

.games_head{
	width:130px;
	height:130px;
	margin: 0 auto;
	text-align:center;
}

.games_head img{
	height:100%;
	width:100%;
}

.draw_footer{
	padding-left: 20px;
	color:red;
	margin: 0 auto;
	position:relative;
	top:-30px;
}