@charset "utf-8";


.group_goodinfo_succeed{
	background-image : url(/image/bg1.gif);
}
.group_goodinfo_waite{
 	background-image : url(/image/bg2.gif);
}
.group_goodinfo_fail {
	background-image : url(/image/bg3.gif);
}
.member_item_situation{
	width:100%
	height:50px;
}