.quick_entrance { 
    height: 91px;
    margin-bottom: 16px;
    width:99%;
}
.quick_entrance ul {
    width: 100%;
    background-color: #fff;
    height: 91px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 2px;
}
.quick_entrance li {
    width: 75px;
    height: 75px;
    margin: 0 5px;
    display: inline-block;
	position:relative;
}
.quick_entrance li img {
    border-radius: 5px;
    width:100%;
    height:100%;
}
.quick_entrance li em,.quick_entrance li span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	height:20px;
    font-size: 14px;
}
.quick_entrance li em { background-color: #000;opacity: .4;filter: alpha(opacity=40); border-radius:0 0 5px 5px; }
.quick_entrance li span { color:#fff; font-size:14px; line-height:20px; text-align:center;} 











