.image_manager{
	min-height:100%;
	padding-bottom:50px;
	margin:0 auto;
	position:relative;
	width:100%;
	max-width:1000px;
}

.image_manager_header{
	width:200px;
	height:200px;
	border:1px solid black;
	postion:relative;
	display:inline-block;
}

.image_mmanager_buttons{
	position:relative;
	display:inline-block;
	left:40px;
	
}

.image_mmanager_buttons_file{
	position:relative;
	top:50px;
}

.image_mmanager_buttons_add{
	position:relative;
	top:100px;
}

.image_mmanager_buttons_delete{
	position:relative;
	top:150px;
}

.good_img_imagelist{
	widht:500px;
	height:500px;
}

.good_img_imagelist table{
		width:100%;
		height:100px;
}

.good_img_imagelist td{
	width:100px;
	height:100px;
	border:1px solid red;
}

.good_img_imagelist td img{
	width:100%;
	height:100%;
}

.img_select img{
	width:100px;
	height:100px;
	border:1px solid blue;
	background-color:red;
}
